/* General styles */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

.scroll-disable {
  overflow: hidden
}

.overlay {
  display: none;
  background: rgba(0, 0, 0 , 0.75); 
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}